<div>
    <mat-toolbar color="primary" style="padding-left: 5px;">
        <a href="/" mat-button>
            <i class="material-icons">ballot</i>
            <span>TrelloLike</span>
        </a>

        <div>
            <a mat-button [routerLink]="['/dashboard']">
                <i class="material-icons">home</i> Dashboard
            </a>
            <a mat-button [routerLink]="['/users']">
                <i class="material-icons">person</i> Users
            </a>
        </div>

        <span class="spacer"></span>

        <form [hidden]="!tgglSearch">
            <mat-form-field>
                <input name="search" type="text" matInput [matAutocomplete]="auto" (keyup)="updateSelect($event.target.value)">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" (click)="openDialog(null, option._id)">
                        {{option.title}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <button mat-icon-button matSuffix (click)="tgglSearch = !tgglSearch" [attr.aria-label]="'Toggle search bar'" [attr.aria-pressed]="tgglSearch">
          <mat-icon>search</mat-icon>
        </button>

        <div>
            <a mat-button (click)="logout()">
                <i class="material-icons">exit_to_app</i> Logout
            </a>
        </div>

    </mat-toolbar>
</div>
