<div>
    <mat-toolbar color="primary" style="padding-left: 5px;">
        <a href="/" mat-button>
            <i class="material-icons">ballot</i>
            <span>TrelloLike</span>
        </a>

        <div>
            <a href="#" mat-button>
                <i class="material-icons">format_list_bulleted</i> Lists
            </a>
            <a href="#" mat-button>
                <i class="material-icons">person</i> Profile
            </a>
        </div>

        <span class="spacer"></span>

        <div>
            <a href="#" mat-button>
                <i class="material-icons">exit_to_app</i> Logout
            </a>
        </div>

    </mat-toolbar>
</div>
